@CHARSET "ISO-8859-1";

body {
    color: #555555;
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    width: 990px;
    margin: 0 auto;
    vertical-align: baseline;
}

#map {
    height: 550px;
    width: 750px;
}

#menu {
    float: left;
    line-height: 2em;
}

#header {
    position: relative;
    height: 126px;
}

#headerContent {
    position: absolute; 
    bottom: 0;
    align: center;
}