@CHARSET "ISO-8859-1";

html {
	height: 100%;
}
body {
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    width: 80%;
    margin: 0 auto;
    vertical-align: baseline;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

body a {
    text-decoration: none;
    color: green;
    cursor: pointer;
}

#main {
    width: 60%;
    float: left;
    height: 85%;
}

#sidebar {
    float: right;
    line-height: 2em;
    text-align: left;
    width: 40%;
    font-size: 8pt;
}

#sidebar a {
    color: DarkSlateGrey;
}

#map,#map3d {
    height: 100%;
    width: 100%;
    position: relative;
}

#facebookLogin {
}

#attribution {
    float: right;
    margin-top: -13px;
}

#addressBar {
    width: 60%;
    float: left;
}

#header {
    position: relative;
    height: 50px;
    padding-top: 25px;
}

#logo {
    bottom: 0;
    text-align: left;
    vertical-align: bottom;
    font-size: 13pt;
    float: left;
    padding-right: 10px;
    padding-top: 9px;
}

.distance {
    font-size: 10px;
    line-height: 1;
}

#footer {
    clear: both;
}

.selectedHikeRow {
    font-weight: bold;
    background-color: YellowGreen;
}


.unselectedHikeRow:hover {
    background-color: YellowGreen;
    cursor: pointer;
}

.unselectedHikeRow {
    font-weight: normal;
}

#dataGrid {
    position: relative;
    background-color: Ivory;
    opacity: 0.9;
    filter: alpha(opacity=50);
    width: 99.7%;
    z-index: 99;
    height: 115px;
    bottom: 115px;
    border: 1px solid black;
    overflow: auto;
}

tr {
	border: 1px solid black; 
}

.dataTable {
    font-size: 8pt;
    width: 100%;
}

.dataTable tbody {
	color:green;
}

th {
	background-color: #024F07;
	color: white;
	font-weight: normal;
	background-repeat: no-repeat;
}

.hikeInfo {
	width: 15%;
	text-align: center;
}

#dataTableHeader .hikeName {
	width: 40%;
	padding: 2px;
}

th.headerSortUp { 
    background-image: url(../images/downArrow.gif);
}

th.headerSortDown { 
    background-image: url(../images/upArrow.gif);
}

div.infowindow {
	width: 220px;
}
div.thumbnailDiv {
	float: left;
	width: 100px;
	height: 70px;
}

img.thumbnailImage {
    height: 70px;
}

div.quickInfo {
    float: right;
    font-size: 12px;
    text-align: left;
    width: 110px;
}

#hikeDetails {
	padding: 8px;
	margin-left: 5px;
	border: 1px solid;
}

#images {
    background: url("../images/gallery-background.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #CCC5BE;
    height: 170px;
    position: relative;
    margin: 0px auto;
}

.gallery-wrapper {
    padding-top: 10px;
    padding-left: 31px;
}

.prev, .next {
    background: url("../images/arrows.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    position: absolute;
    top: 80px;
    width: 10px;
    maring-left: 10px;
    border: none;
    cursor: pointer;
}

h3 {
    background-color: #EBEAE5;
    border-bottom: 1px solid #CDC8C8;
    border-top: 1px solid #CDC8C8;
    overflow: hidden;
    padding-left: 3px;
    position: relative;
    font-weight: normal; 
    font-size: 12px;
    margin-bottom: 3px;
}

.tab-container {
	margin-top: 5px;
}

.next {
    background-position: -32px 0;
    right: 15px;
}

.prev {
    background-position: 0 0;
    left: 15px;
}

.etabs { 
    margin: 0;
    padding: 0;
    background-color: #EBEAE5;
}

.tab { 
    display: inline-block;
    zoom:1;
    *display:inline; 
    background-color: #EBEAE5;
    border: solid 1px #999;
    border-bottom: none;
}

.tab a { font-size: 12px; line-height: 1.5em; display: block; padding: 0 7px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; }

.h2 { font-size: 14px; display: block; outline: none; font-weight: bold; }

#chart_div {
	width: 50%;
	margin: 0px auto;
}

#basicInfo {
	margin-top: 3px;
}

#basicInfo span {
	line-height: 1.5em;
}

#basicInfo span.value {
    line-height: 1.5em;
}

/*
STYLES FOR LOGIN BOX
*/

.login_btn {
    text-decoration:none;
    text-shadow:1px 1px 0 #000;
    -moz-text-shadow:1px 1px 0 #000;
    -webkit-text-shadow:1px 1px 0 #000;
    color:#fff;
    font-weight:bold;
    font-size:13px;
    margin-top:13px;
    background:#3d3d3d;
    float:right;
    height:32px;
}
.login_btn:hover {
    background:#656565;
}
.login_btn span {
    color:#fff;
    float:left;
    padding:0 10px 0 10px;
    text-align:center;
    margin-top: 8px;
}
.triangle {
    float:left;
    width:0px;
    height:0px;
    margin:14px 9px 0 0;
    border-left:5px solid transparent;
    /* left arrow slant */
    border-right:5px solid transparent;
    /* right arrow slant */
    border-top:5px solid #fff;
    /* bottom,add background color here */
    font-size:0px;
    line-height:0px;
}
#content {
    height:733px;
    background:url('img/bg.jpg') center;
}
#login_box {
    display:none;
    width:200px;
    margin:2px 0 0;
}
#tab {
    background:#Gainsboro;
    float:left;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

#login_box_content {
    background:#fff;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    float:left;
    width:200px;
    background-color:Gainsboro;
}
#login_form {
    margin:9px 0 0 9px;
}
#login_form input[type=text],#login_form input[type=password] {
    border:1px solid #d8d8d8;
    border-radius:3px;
    font:italic 12px Georgia,times,sans-serif;
    height:37px;
    width:175px;
    margin-top:10px;
    padding-left:10px;
}
#login_form input[type=submit] {
    border:none;
    background:#19677e;
    color:#fff;
    float:right;
    margin:14px 9px 9px 0;
    width:56px;
    height: 22px;
}

#fblogin_btn {
    margin-top: 14px;
}

#user-greeting {
	float: left;
	font-size: 11px;
}

#user-picture {
	width: 36%;
	float: right;
	margin-right: 5px;
}

#user-name {
	float: left;
	margin-top: 33px;
}