@CHARSET "ISO-8859-1";

body {
    color: #555555;
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    width: 100%;
    margin: 0 auto;
    vertical-align: baseline;
    padding-left: 10px;
}

body a {
    text-decoration: none;
    color: green;
}

#main {
    width: 70%;
    float: left;
}

#menu {
    float: right;
    line-height: 2em;
    text-align: left;
    width: 30%;
    font-size: 8pt;
}

#map,#map3d {
    height: 700px;
    width: 99%;
}

#address {
    padding-bottom: 10px;
}

#header {
    position: relative;
    height: 70px;
}

#headerContent {
    bottom: 0;
    text-align: left;
    padding-top: 25px;
    font-size: 20pt;
}

.distance {
    font-size: 10px;
    line-height: 1;
}

ol {
    list-style: none outside none;
    margin-left: -30px;
}

li {
    border: solid 0.5px #CCCCCC;
    padding-left: 3px;
}

h3 {
    line-height: 0em;
} 

#footer {
    clear: both;
}

.selectedMenuItem {
    font-weight: bold;
}

.unselectedMenuItem {
    font-weight: normal;
}