<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="hikesDAO" class="com.powerboot.dao.HikesListDao" scope="singleton" init-method="init">
        <property name="gFusionFacade" ref="gFusionFacade" />
    </bean>

    <bean id="gFusionFacade" class="com.powerboot.facade.GFusionFacade" init-method="init">
        <property name="googleService" ref="googleService" />
        <property name="email" value="chetankumar.iisc@gmail.com" />
        <property name="password" value="XXXX" />
    </bean>

    <bean id="googleService" destroy-method="close" 
        class="com.google.gdata.client.GoogleService" scope="singleton">
        <constructor-arg value="fusiontables" />
        <constructor-arg value="fusiontables.ApiExample" />
    </bean>
    
    <bean id="dataSource" destroy-method="close"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/sakila" />
        <property name="username" value="root" />
        <property name="password" value="test123" />
    </bean>


</beans>